.carousel-two  {
    height: 100vh;
    background: radial-gradient(circle, rgba(236,185,15,1) 0%, rgba(247,125,2,1) 100%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.carousel-two__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-two__directions {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 50%;
    opacity: 0.4;
    text-align: center;
    left: 1rem;
}
.prev::after {
    content: "<";
}