.category-card-list-three {
    padding: 1rem 0;
    background-color: #644422;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-card-list__item-list {
    padding: 1rem 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.category-card-list-three__item {
    position: relative;
    background-color: #dcc8b0;
    width: 150px;
    height: 150px;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: solid 1px black;
}
.category-card-list-three__item > img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
.category-card-list__three__more-categories {
    width: 90%;
}
.category-card-list__three__more-categories__link {
    color: rgba(0, 0, 255, 0.7);
    text-decoration: underline;
}
.category-card-list__three__more-categories__link:hover {
    cursor: pointer;
}